.para {
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 1.6;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 12px;
    padding-top: 12px;
}

.fig {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 12px;
    padding-top: 6px; 
  

}

.diagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw

  }

.ref {
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 1.6;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 12px;
    padding-top: 12px;
}

.space {
    height: 500px;
}

h4 {
    margin: auto;
    padding-left: 5%;
}
